

<header class="header">
    <div class="container">
        <div class="logo">
        <img src="../assets/logoBranco.png" alt="logo">
    </div>
    
        
        <nav class="navbar">
            <ul class="nav-list">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/card">Coleção</a></li>
                <li><a routerLink="/documentacao">Sobre Nós</a></li>
                <li><a routerLink="/funcionario">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>


