/* Estilos para a seção Fale Conosco */
.contact-section {
    background-color: #f8f8f8;
    padding: 50px 0;
    text-align: center;
}

.contact-links {
    margin: 20px 0;
}

.contact-links img {
    width: 50px;
    margin: 0 10px;
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #ff66b2;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: #e0559e;
}
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}